# Dependencies
node_modules

# Build output
dist

# Environment files (contain API keys)
.env.local
.env.*.local

# Editor directories and files
.idea
.vscode
*.swp
*.swo

# OS files
.DS_Store

# Debug logs
npm-debug.log*
